<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <appSettings>
    <add key="DBPath" value="E:\DB\AgeRanger.db"/>
  </appSettings>

  <system.web>
    
    <compilation debug="true" targetFramework="4.0" >
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

  </system.web>
  
  <unity>
      <container>
        <register type="Service.Host.IPersonFacade, Service.Host" mapTo="Service.Implement.PersonFacade, Service.Implement" />
        <register type="App.BusinessService.Interfaces.IPersonBusinessService, App.BusinessService.Interfaces" mapTo="App.BusinessService.PersonBusinessService, App.BusinessService" />
        <register type="App.DataService.Interfaces.IPersonDataService, App.DataService.Interfaces" mapTo="App.DataService.PersonDataService, App.DataService" />

      </container>
  </unity>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" maxReceivedMessageSize="500000000" maxBufferSize="500000000">
          <readerQuotas maxStringContentLength="500000000"/>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>  
  </system.serviceModel>
   
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
